services:
  dev-server:
    build:
      context: .
      target: dev
    ports:
      - "8080:8080"
    environment:
      APP_ENV: dev
    volumes:
      - .:/code
    extra_hosts:
      - "host.docker.internal:host-gateway"

  dev:
    build:
      context: .
      target: dev
    entrypoint: [docker-php-entrypoint]
    environment:
      APP_ENV: dev
      PHP_IDE_CONFIG: serverName=localhost
    volumes:
      - .:/code
    extra_hosts:
      - "host.docker.internal:host-gateway"

  ci:
    build:
      context: .
      target: app
    command: [composer, ci]
    env_file:
      - .env
      - .env.test
    environment:
      APP_ENV: test
